@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gold: #FFD700;
}

@layer base {
  body {
    @apply antialiased;
  }
}

@layer components {
  .text-gold {
    color: var(--color-gold);
  }
  
  .bg-gold {
    background-color: var(--color-gold);
  }
  
  .border-gold {
    border-color: var(--color-gold);
  }
}